﻿#container1 {
    border-style: solid;
    background-color: lightblue;
    text-align: center;
}

#container2 {
    margin: 20px;
    background-color: white;
    padding: 25px 50px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
}

#container2 > div {
    margin: 20px;
}

#container3 > div {
    margin: 20px;
}

#container4 > div {
    margin: 20px;
}

#StartTextBox {
    text-align: center;
}

#EndTextBox {
    text-align: center;
}

#table {
    border-style: solid;
    margin: 20px;
    background-color: white;
}

.textfield {
    width: 250px;
    padding: 12px 20px;

    border-top: 2px solid;
    border-top-color: transparent;

    border-left: 2px solid;
    border-left-color: transparent;

    border-right: 2px solid;
    border-right-color: transparent;

    border-bottom: 2px solid;
    box-sizing: border-box;
    outline-color: transparent;
    outline-width: 2px;
}

@keyframes border {
    from {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
    }

    to {
        border-top-color: #b2ffbc;
        border-left-color: #b2ffbc;
        border-right-color: #b2ffbc;
    }
}

.textfield:focus {
    outline-color: transparent;
    animation-name: border;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}